html,
* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  background-color: grey;
}

main {
  height: 100vh;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
}

main > div {
  width: 80vh;
  height: 80vh;
  max-width: 80vw;
  max-height: 80vw;
}

main > div > div {
  height: 12.5%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

main > div > div > div {
  height: 100%;
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div > div:nth-of-type(2n) > div:nth-of-type(2n) {
  background-color: white;
}

main > div > div:nth-of-type(2n) > div:nth-of-type(2n + 1) {
  background-color: #1ba129;
}

main > div > div:nth-of-type(2n + 1) > div:nth-of-type(2n) {
  background-color: #1ba129;
}

main > div > div:nth-of-type(2n + 1) > div:nth-of-type(2n + 1) {
  background-color: white;
}

.lastMove {
  background-color: #6be895 !important;
}

main > div > div > div > img {
  height: 100%;
  width: 100%;
  padding: 10%;
}

main > .black {
  transform: rotate(180deg);
}

main > .black img {
  transform: rotate(180deg);
}

main > div.black > div > div > img.black:hover,
main > div.white > div > div > img.white:hover,
.possibleMove:hover {
  cursor: pointer;
}

main > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main > section > p {
  color: white;
  font-size: 1.5em;
}

main > section > ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  height: 2em;
}

main > section > ul > li {
  display: flex;
}

main > section > ul > li > img {
  height: 2em;
  width: 2em;
}

.possibleMove {
  background-image: url("../images/availableSpotOpen.png") !important;
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
}

.enemyMove {
  background-image: url("../images/availableSpotEnemy.png") !important;
  background-size: 80% !important;
  background-position: center;
  background-repeat: no-repeat;
}

body .popup {
  background-color: rgba(162, 171, 165, 0.5);
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

body .popup > div {
  width: 35vh;
  height: 35vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 30%;
  padding-left: 3em;
}

body .popup > div > button {
  background-color: white;
  border-style: solid;
  margin-top: 2em;
}

.showPopup {
  display: flex !important;
}

body > section:first-of-type {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
}

body > section.black {
  flex-direction: column-reverse;
}

body > section:first-of-type > div {
  display: flex;
  flex-direction: row;
}

body > section:first-of-type > div > div {
  height: 1.2em;
  width: 3em;
  background-color: white;
  margin: 0.5em;
  display: flex;
  justify-content: center;
}

.roomPopup div form {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.roomPopup div p {
  max-width: 65%;
}

a,
button {
  margin-top: 0.5em;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  padding: 3px;
  border: 1px solid #000;
  color: black;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

.roomPopup div form button,
.roomPopup div form label:nth-of-type(2) {
  margin-top: 0.5em;
  width: fit-content;
}

.playerInfo > div {
  display: flex;
  flex-direction: row;
  color: white;
}

.playerInfo > div:last-of-type {
  margin-bottom: 0.5em;
}

.playerInfo > div > p:first-of-type {
  margin-right: 0.5em;
}
